.notification-settings{
    background:#fff;
    padding:35px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.notification-list{
    margin-top:30px;
}

.notification-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
    border-bottom:1px solid #eee;
}

.notification-item:last-child{
    border-bottom:none;
}

.notification-item span{
    color:#444;
    font-weight:500;
}

.notification-item input{
    width:20px;
    height:20px;
    cursor:pointer;
}