.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;

}

.contact-form input{
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
}
.contact-form textarea{
    width: 80%;
    height: 200px;
}


.send-massage-btn {
    padding: 15px 25px;
    width: 210px;
    height: 55px;
    border: none;
    border-radius: 50px;
    background-color: var(--primary);
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;
}

.send-massage-btn:hover {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
}