.inventory-table-container{
    background:#fff;
    border-radius:18px;
    overflow:auto;
    border:1px solid #eee;
}

.inventory-table{
    width:100%;
    border-collapse:collapse;
}

.inventory-table th{
    background:#fafafa;
    padding:18px;
    text-align:left;
    font-size:14px;
    font-weight:600;
}

.inventory-table td{
    padding:18px;
    border-top:1px solid #f3f3f3;
}

.no-products{
    text-align:center;
    padding:40px;
    color:#888;
}