.coupons-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header-content h1{
    font-size:42px;
    font-weight:700;
    color:#101828;
    margin-bottom:8px;
}

.header-content p{
    color:#667085;
    font-size:16px;
}

.add-coupon-btn{

    display:flex;
    align-items:center;
    gap:10px;

    padding:15px 26px;

    border:none;
    outline:none;

    border-radius:14px;

    background:linear-gradient(135deg,#ff4d8d,#ff2d75);

    color:#fff;

    cursor:pointer;

    font-weight:600;

    transition:.3s;
}

.add-coupon-btn svg{
    font-size:20px;
}

.add-coupon-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 12px 25px rgba(255,45,117,.25);
}

@media(max-width:768px){

.coupons-header{
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
}

.add-coupon-btn{
    width:100%;
    justify-content:center;
}

.header-content h1{
    font-size:34px;
}

}

@media(max-width:576px){

.header-content h1{
    font-size:30px;
}

.header-content p{
    font-size:14px;
}

}