.our-product{
padding: 60px 0;

}
.our-product .products-container{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    height: 100%;
}


.our-product .container h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.1;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 6rem;
    
}
.our-product .container h4{
    font-size: 1.2rem;
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.our-product .container .title-section{
    position: relative;
    height: 120px;
padding-top: 10px;}

