.income-card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #f3f3f3;
  box-shadow: 0 10px 30px rgba(0,0,0,.05);

  display: flex;
  flex-direction: column;
}

.income-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.income-header h3 {
  font-size: 20px;
  font-weight: 600;
}

.income-header select {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 8px 14px;
  background: #fff;
  cursor: pointer;
}

.pie-wrapper {
  width: 100%;
  height: 220px;
}

.income-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 10px;
}

.income-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.income-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.income-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.income-color {
  background: #ff4d8d;
}

.expense-color {
  background: #4f8cff;
}

.income-item p {
  color: #666;
  font-size: 15px;
}

.income-item strong {
  font-size: 15px;
  color: #222;
  font-weight: 600;
}