.delete-coupon-modal{

    width:470px;
    max-width:95%;

    background:#fff;

    border-radius:20px;

    overflow:hidden;

    animation:modalFade .3s ease;
}

.delete-content{

    padding:35px 30px;

    text-align:center;
}

.delete-icon{

    width:80px;
    height:80px;

    margin:0 auto 20px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#FEF3F2;

    color:#DC2626;

    font-size:34px;
}

.delete-content h3{

    font-size:24px;

    color:#101828;

    margin-bottom:12px;
}

.delete-content p{

    color:#475467;

    line-height:1.8;

    margin-bottom:10px;
}

.delete-content span{

    color:#98A2B3;

    font-size:14px;
}

.delete-actions{

    display:flex;

    gap:15px;

    padding:24px 30px;

    border-top:1px solid #EEF2F7;
}

.delete-actions button{

    flex:1;

    height:48px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

    transition:.3s;
}

.cancel-btn{

    background:#fff;

    border:1px solid #D0D5DD !important;

    color:#344054;
}

.cancel-btn:hover{

    background:#F9FAFB;
}

.delete-btn{

    background:#DC2626;

    color:#fff;
}

.delete-btn:hover{

    background:#B42318;
}

@media(max-width:576px){

.delete-content{

    padding:25px 20px;
}

.delete-actions{

    padding:20px;

    flex-direction:column;
}

.delete-actions button{

    width:100%;
}

}