@import "../AddCouponModal/AddCouponModal.css";

.edit-coupon-modal {
  width: 900px;
  max-width: 95%;

  background: #fff;

  border-radius: 22px;

  overflow: hidden;

  animation: modalFade .3s ease;
}