@import "../AddCategoryModal/AddCategoryModal.css";

.edit-category-modal {
  width: 650px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  animation: fade 0.3s ease;
}

.edit-category-modal form {
  padding: 25px;
}