@import "../AddCategoryModal/AddCategoryModal.css";

.edit-category-modal {
  width: 650px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  animation: fade 0.3s ease;
}

.edit-category-modal form {
  padding: 25px;
}
.image-preview{
    margin-top: 10px;
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
