.advertisement {
    position: relative;
    width: 100%;
}

.advertisement img {
    width: 100%;
    display: block;
}

.advertisement h1 {
    position: absolute;
    top: 50%;
    left: 8%; /* المسافة من الشمال */
    transform: translateY(-50%);

    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;

    max-width: 500px;
}