.advertisement {
    position: relative;
    width: 100%;
}

.advertisement img {
    width: 100%;
    display: block;
}

.advertisement h1 {
    position: absolute;
    top: 50%;
    left: 8%; /* المسافة من الشمال */
    transform: translateY(-50%);

    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;

    max-width: 500px;
}

@media(max-width:768px){
    .advertisement h1{
        font-size: 34px;
        max-width: 70%;
    }
}

@media(max-width:480px){
    .advertisement h1{
        font-size: 24px;
        left: 6%;
        max-width: 80%;
    }
}