.add-category-modal {
  width: 650px;
  height: 90vh;
  background: #fff;
  border-radius: 20px;
  overflow-x: scroll;

  animation: fade 0.3s ease;
}

.add-category-modal form {
  padding: 25px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.form-group label {
  color: #344054;
  font-size: 15px;
  font-weight: 600;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #d0d5dd;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
  background: #fff;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #98a2b3;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #ff2d75;
  box-shadow: 0 0 0 4px rgba(255, 45, 117, 0.12);
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
}

.cancel-btn,
.save-btn {
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.cancel-btn {
  background: #f2f4f7;
  color: #344054;
  text-align: center;
}

.cancel-btn:hover {
  background: #e4e7ec;
}

.save-btn {
  background: linear-gradient(90deg, #ff4d8d, #ff2d75);
  color: white;
}

.save-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(255, 45, 117, 0.25);
}

@media (max-width: 768px) {
  .add-category-modal {
    width: 95%;
  }

  .two-columns {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .modal-actions {
    flex-direction: column-reverse;
  }

  .cancel-btn,
  .save-btn {
    width: 100%;
  }
}
.error-text {
  color: #e53935;
  font-size: 13px;
  margin-top: 6px;
  display: block;
  font-weight: 500;
}

.form-group input.error,
.form-group textarea.error {
  border-color: #e53935;
}

.image-preview{
    margin-top: 10px;
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
