.about{
display:flex;
flex-direction:column;
    gap:5px;
    justify-content:space-between;
    align-items:center;
}
.about .container{
    padding:50px 0;
    display:flex;
    justify-content:space-between;
    align-items:stretch;
}
.about .container h2{
    font-size:40px;
    color:#333;
    margin-bottom:20px;
    font-weight:bold;
    max-width:300px;
}
.about .container p{
    font-size:18px;
    color:#555;
    line-height:1.6;
    font-family:Arial, sans-serif;
    max-width:600px;
    opacity:0.8;
}
.about .container video{
max-width:400px;
height:425px;
object-fit:cover;
    border-radius:10px;;
}
