.orders-table {
  background: transparent;
}

.table-head {
  display: grid;
  grid-template-columns: 2.8fr 1.2fr 1.2fr 1fr 1fr 1fr;

  padding: 18px 25px;

  background: #fff;

  border-radius: 16px;

  margin-bottom: 18px;

  box-shadow: 0 8px 20px rgba(0,0,0,.05);

  color: #555;

  font-weight: 700;
}

.table-body{
  display:flex;
  flex-direction:column;
  gap:18px;
}

@media(max-width:1200px){

.orders-table{
overflow:auto;
}

.table-head,
.table-body{

min-width:1050px;

}

}