.account-page {
  background: #f8f9fc;
  min-height: 100vh;
  padding: 60px 0;
}

.account-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.account-header {
  margin-bottom: 40px;
}

.account-header span {
  color: #888;
  font-size: 14px;
}

.account-header h1 {
  margin: 12px 0;
  font-size: 38px;
  color: #222;
  font-weight: 700;
}

.account-header p {
  color: #777;
  max-width: 550px;
  line-height: 1.8;
}

.account-content {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 30px;
  align-items: start;
}

.account-outlet {
  background: #fff;
  border-radius: 18px;
  padding: 35px;
  box-shadow: 0 10px 30px rgba(0,0,0,.05);
}

@media (max-width:991px){

.account-content{

grid-template-columns:1fr;

}

}